body {
  /* font-family: Roboto Arial, Helvetica, sans-serif; */
  color: #3e3e3e;
}
main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title-link {
  font-size: 1.15rem;
  text-decoration: none;
}

.product-title {
  /*  Set a fixed height */
  height: 2.5em;
  /* Add bottom-margin to seperate content below */
  margin-bottom: 1rem;
  /* Hide overflow content */
  /* overflow: hidden;  */
  /* Add ellipsis for long text */
  text-overflow: ellipsis; 
  /* Prevent wrapping */
  white-space: wrap; 
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

/* .carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
} */

.navbar {
  padding-bottom: 0;
}

.navbar-nav input {
  position: relative;
  box-shadow: none;
  border: none;
  border-radius: 0%;
  width: 100%;
  padding: 0.3rem 1rem 0.25rem 0.5rem;
  border-bottom: 1px solid #9ea6ae;
  background-color: none!important;
}

.navbar-nav input:focus { 
  box-shadow: none;
}

.search-button {
  position: absolute;
  bottom: 0px;
  border: none;
  box-shadow: none;
  background-color: none;
  right: 0;
  padding-right: 0;
  color: #3d3c3c;
}

.category-container img {
  width: 60%;
  border-radius: 50%;
}

.category-container p {
  color: #090909;
 font-size: 1.25rem;
}

.brand img {
  width: 33%;
}

/* h3 {
  color: #3e3e3e;
} */

h1.headline pre {
  font-family: Marcellus, Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #090909;
  overflow: hidden;
}

.headline-tag {
  font-family: Sacramento;
  font-size: 8.5rem;text-align: center;
  color: #d7cbb7;
  margin-top: -4rem;
  transform: rotate(-5deg);
}

.heading-bar {
  height: 5rem;
  margin-bottom: 2rem;
}

.top-bar-container {
  background-color: #ddd1c1;
}

.admin-bar .col:last-child {
  margin-right: 0!important;
}

.admin-bar a {
  text-decoration: none;
}

.stock-badge {
  background-color: #9e9e9e;
  color: #fff;
}

.contact-us a {
  text-decoration: none;
}

footer {
  background-color: #212529!important
}

footer h3 {
  color: white;
  font-family: Marcellus, Arial, Helvetica, sans-serif;
  margin-bottom: 0.75rem;
}

footer a, footer p {
  text-decoration: none;
  color: #9e9e9e
}

footer p {
  font-family: Roboto Arial, Helvetica, sans-serif;
}
 
footer a {
  display: block;
  margin-bottom: 0.25rem; 
}

footer .info-links col {
  display: flex;
  flex-direction: column;
}

footer .policies, footer .links, footer .contact-us {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  #cart-items {
    align-self: start;
    padding: 0.4rem;
  }
  #cart-items span {
    display: none;
  }

  footer .info-links a {
    display: inline-block;
    margin-bottom: 0.25rem;
    padding-right: 1rem;
  } 
}

@media only screen and (max-width: 760px) {
  .brand img {
    width: 40%;
  }
  
  .navbar-nav input {
    width: 100%;
  }

  .headline-tag {
    font-size: 5rem;
  }

  h1.headline {
    font-size: 1.75;
  }

  .category-container img {
    max-width: 50%;
  }

  footer .info-links a {
    display: block;
    margin-bottom: 0.25rem;
    padding-right: 1rem;
  } 
}

